html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg, var(--bg), #383d44);
    color: #e2e2e2;
    min-height: 100vh;
}

main {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

a {
    text-decoration: none;
    transition: color 0.2s;
}

a:hover,
a:focus {
    text-decoration: underline;
}

#checklist {
    width: 100%;
    margin-top: 1rem;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
    min-height: 4.5rem;

    padding: 1rem 1.25rem;

    border-bottom: 1px solid #e5e5e5;

    cursor: pointer;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.check-item:last-child {
    border-bottom: none;
}

.check-item input[type="checkbox"] {
    transform: scale(1.4);
    cursor: pointer;
}

.check-item span {
    font-size: 1.1rem;
    line-height: 1.4;
    flex: 1;
}

.check-item.checked {
    background-color: #000000b8;
}

.check-item.checked span {
    opacity: 0.6;
}