.header-banner {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #0000007b; 
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding-left: 1em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    width: auto;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 0.4em 0.5em;
    margin-right: 0.4em;
    font-size: 18px;
    border-radius: 80px;
    transition: 0.2s;
}

.nav-menu a:hover{
    background-color: var(--accent);
}

.nav-toggle {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.nav-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}
