.header-banner {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #0000007b; 
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding-left: 1em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    width: auto;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 0.4em 0.5em;
    margin-right: 0.4em;
    font-size: 18px;
    border-radius: 80px;
    transition: 0.2s;
}

.nav-menu a:hover{
    background-color: var(--accent);
}

.nav-toggle {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.nav-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-admin {
    position: relative;
}

.admin-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.admin-login {
    position: absolute;
    top: 100%;
    right: 0;
    background: #111;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 200px;
    z-index: 1000;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.admin-login.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.admin-login input,
.admin-login button {
    width: 100%;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid #333;
    background: #222;
    color: white;
}

.admin-login button {
    cursor: pointer;
    background: var(--accent);
    border: none;
}

